{
  "presets" : ["next/babel"],
  "plugins": [
      [
          "styled-components",
          {
              "ssr": true,
              "displayName": true,
              "preprocess": false
          }
      ],
      [
        "module-resolver",
        {
          "alias": {
            "components": "./components",
            "libs": "./libs",
            "public": "./public",
            "styles": "./styles",
            "types": "./types",
            "pages": "./pages",
            "assets": "./public/assets",
            "apis": "./apis"
          }
        }
      ]
  ]
}